@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');



:root{
    --main-color:#E77062;
    --black:#555;
    --light-color:rgb(151, 132, 132);
    --bg:#d4f1f3;
    --border:.1rem solid rgba(0,0,0,.1);
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
}

*{
    font-family: 'Nunito', sans-serif;
    margin:0;
    padding:0;
    box-sizing: border-box;
    outline: none;
    border:none;
    text-decoration: none;
    transition: all .3s ease-out;
}

*::selection{
    background:var(--main-color);
    color:#fff;
}


html::-webkit-scrollbar{
    width:1rem;
}

html::-webkit-scrollbar-track{
    background: var(--black);
}

html::-webkit-scrollbar-thumb{
    background: var(--main-color);
}

header{
    position: fixed;
    top:10px; left:10px; right: 10px;
    z-index: 1000;
    background: #fff;
    box-shadow: var(--box-shadow);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:2rem 9%;
    border-radius: 1.5rem;
}

header .logo{
    width: 5rem;
    height: 5rem;
}

header .navbar a{
    font-size: 1.7rem;
    color: var(--light-color);
    margin-left: 2rem;
}

header .navbar a:hover{
    color:var(--main-color);
}

#lietotajaIzvade{
    margin-top: 13rem;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--main-color)
}

.izvelne{
    margin: 1rem auto auto;
    width:900px;
    height:600px;
    display:grid;
    grid-template-columns: 450px 450px;
    grid-row: auto auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.izvelne2{
    margin: 12rem auto auto;
    width:900px;
    height:600px;
    display:grid;
    grid-template-columns: 450px 450px;
    grid-row: auto auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.box{
    background-color: aquamarine;
    display: flex;
    padding: 2rem auto;
    border-radius: 2rem;
    align-items:center;
    justify-content:center;
    flex-direction: column;
    box-shadow: var(--box-shadow);
    border: var(--border);
}

.box:hover{
    background-color: rgb(179, 250, 226);
    box-shadow: none;
    color: var(--main-color);
}

.box > .fas{
    padding: .5rem;
    font-size: 2rem;
}

.admin-box {
    background-color: aquamarine;
    display: flex;
    padding: 2rem;
    margin: 3rem auto;
    border-radius: 2rem;
    width: 45%;
    align-items:center;
    justify-content:center;
    flex-direction: column;
    box-shadow: var(--box-shadow);
    border: var(--border);
}

.izvelne > .skaits{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background-color: #dde6bc;
    text-align: center;
    font-size: 1.5rem;
    border-radius: 1rem;
    border: var(--border)
}
.izvelne > .skaits h1{
    text-align: center;
    font-size: 3rem;
    color: var(--main-color)
}


.fa-magnifying-glass{
    font-size: 2rem;
    background-color: var(--main-color);
    border-radius: 1rem;
}
.fa-magnifying-glass:hover{
    background-color: var(--black);
}


body{
    background-color: var(--bg);
}

header .active{
    font-weight: bold;
    background-color: var(--bg);
    padding: 1rem;
    border-radius: 1rem;
}

#adminSakums .row{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin: 10rem 3rem 0;
}

.head-color{
    background: var(--main-color);
}

#adminSakums .row .info{
    flex:1 1 45rem;
    border:var(--border);
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
}

#adminSakums .row .info2{
    flex:1 1 20rem;
    border:var(--border);
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
}

.head-info{
    background-color: #f8f8f8;
    color: var(--black);
    padding: 2rem;
    font-size: 1.5rem;
    font-weight: bold;
    border-bottom: 1px solid #ddd;
}

table{
    font-size: 1.5rem;
	width: 100%;
    border-spacing: 5px;
}

th, td{
	text-align: center;
    padding: 5px;
	height: 100px;
    border-bottom: 1px solid #ddd;
}

tr:hover{
	background-color: #fff;
}

th{
	font-weight: bold;
	color: var(--black);
	text-align:center;
}

.check{
    width: 50px;
}

footer{
    background: var(--bg);
    color: var(--black);
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
    font-size: 1rem;
    width: 100%;
}

#userImg{
    font-size: 15rem;
}

.btn{
    display: block;
    background-color: aquamarine;
    padding: .5rem;
    margin: .5rem;
    border-radius: .5rem;
    color:var(--black);
}

.btn:hover{
    background-color: var(--black);
    padding: .5rem;
    border-radius: .5rem;
    color:rgb(179, 250, 226)
}

.btn-danger{
    display: block;
    background-color: var(--main-color);
    padding: .5rem;
    margin: .5rem;
    border-radius: .5rem;
    color:rgb(179, 250, 226)
}

.btn-danger:hover{
    background-color: var(--black);
    color:var(--main-color);
}

.btn-big{
    display: block;
    background-color: var(--black);
    width: 50%;
    padding: 1rem;
    margin: 5rem auto;
    border-radius: .5rem;
    text-align: center;
    color:rgb(179, 250, 226)
}

.btn-big:hover{
    background-color: var(--bg);
    color:var(--main-color);
}

.lappuses{
    display: flex;
    margin: 1rem;
    justify-content: center;
}
.lpp{
    display: block;
    background-color: #fff;
    color: var(--black);
    padding: .5rem;
    margin: 0 1rem;
    text-align: center;
    font-weight: bold;
    width: 4rem;
    border-radius: .5rem;
}

.lpp:hover{
    background-color: #E77062;
}


.none{
    color: var(--main-color)
}

#container{
    display: flex;
    margin: 12rem 12rem 0;
    flex-flow: row;
}

#container > .image{
    flex:1 0 45rem;
}

#container > .image img{
    width: 100%;

}

form{
    border-radius: 1rem;
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 50px;
	height: 100%;
	text-align: center;
}

input{
	background-color: #eee;
	border: none;
    border-radius: 10px;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}

input:hover{
    background-color: #8fd39e;
    transition: .3s linear;
}

select{
    background-color: #eee;
    border: var(--border);
    border-radius: .5rem;
    width: 100%;
}

select:hover{
    background-color: #8fd39e;
    transition: .3s linear;
}

.velak{
    font-weight: bold;
    color: var(--main-color)
}

.pagajis{
    color: var(--black);
}


.pazinojums{
    font-size: 2rem;
    text-align: center;
    margin: 15rem 5rem 5rem;
    padding: 3rem;
    color: #EEE;
    border-radius: .5rem;
    border: var(--border);
}

.sarkans{
    background: #a14141;
}

.zals{
    background: #385336;
}